
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

body {
	margin: 0;
	background-color: #EFF3F5;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
}

button {
	cursor: pointer;
}